.container {
    display: flex;
    height: 100vh;
  }
  
  .left {
    background-color: #215473; /* Dark blue background */
    color: white;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; /* This ensures children take full width */
    position: relative;
  }
  
  .right {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Light background */
  }
  
  .logo {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
  }
  
  .left h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .left p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .left p a {
    color: white;
    text-decoration: underline;
  }

  .form {
    width: 80%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputGroup {
    margin-bottom: 20px;
    width: 60%;
  }
  
  .inputGroup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .inputGroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333; 
    background-color: white;
  }
  
  .checkboxGroup {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 60%;
  }
  
  .checkboxGroup input {
    margin-right: 10px;
  }
  
  .button {
    background-color: #5799cb;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    max-width: none;
  }
  
  .button:hover {
    background-color: #357ab8;
  }
  